# **_1. Python Datum & Data_**
**금융데이터를 활용한 파이썬 기초 객체**

<br>
## **1 Why Coding**
Introduction

### **01 왜 파이썬을 배우러 오셨습니까?**
미래의 지구는 인간 만으로는 살기 어렵다는데

정 안되면 자연으로 돌아가고 싶은 생각 중...<br>

<img src="http://cdn.pingwest.com/wp-content/uploads/2016/03/DSCF3721.0.jpg" align='left' width=600>

### **02 하지만 이 길은 멀고 험난합니다**
첫 술에 배부르랴..

익숙하지 않을 뿐, 익숙해 지는 것 부터 시작하고 완성하면 그것이 처음이자 끝이다

처음부터 맛에 익숙하진 않지만,  살아가면서 다양한 맛을 알고 이해하게 된다..

자세히 설명은 못해도 머리와 몸으로 이해하듯...

언의의 내용과 개념을 있는 그대로 받아들이고 이해하는 과정이 이번 수업의 내용입니다

<img src="http://cfile210.uf.daum.net/image/217073395486BED70AAF8D" align='left' width='600'>

<br>
### **03 Why Python**
Introduction

#### **3-1 Excel VBA**
1. 역사가 길고 VBA Source들이 많다
1. cristall ball 등 오랜 검증이 확실한 도구들이 많다
1. 대용량 작업을 위해선 많은 성능을 요한다

<img src="http://developerfarm.cdn1.cafe24.com/cover/l/9791158390891.jpg" align='left' width='400'>

#### **3-2 R, R-studio**
1. 금융 Quant에 관련된 Source들이 다양하다
1. 계산에 가장 최적화된 언어로 설치 및 활용
1. 무료다 (아직은....) <strike>Micro Soft에게 결정권이 달려있다..</strike>

<img src="http://preview.yes24.com/PreviewResize.aspx?no=53564397&fn=r9w6g2m7ehc8ljkt01.jpg&size=700|904" align='left' width='400'>

#### **3-3 Python**
1. R에 비해서 Open된 Source 들이 부족하다
1. 다른 언어에 비해서 상대적으로 쉽다 <strike>그러면서 쉽지않다</strike>
1. 규칙에 근거한 coding (<strike>때문에 짧아서 쉬워 보일 뿐, 쉽지 않다)</strike>
1. 한편 쉽지 않다는 건 그만큼 강력한 활용이 가능하는 뜻이기도 하다
    
<img src="http://preview.yes24.com/PreviewResize.aspx?no=56882179&fn=31jg1uxtfc0gao9e01.jpg&size=700|885" align='left' width='400'>

## **_Question_** 다음중 예측 가능한 것은?
1. 이건희 사망시기
1. 테슬라 주행자동차 사건예측
1. 대우조선해양 부정회계
1. 내일의 한국/ 미국의 주가지수
1. 삼성전자 다음 분기의 영업이익 증가/ 감소분
1. 대한민국 내수시장의 다음분기 실적예측

본인이 지금당장 할 수 있으면, 기계로도 할 수 있고<br>
본인이 지금당장 **필요한 조건들이 떠오른다면** 기계로 보완이 가능 한 정도이지<br>
본인이 지금당장 할 수 없으면, **뭐를 사용해도 불가능하다는** 시각으로 접근하자!!

<img src="http://t1.daumcdn.net/liveboard/ziksir/99a921c2adfc422ea79793ad41144952.jpg" align='left'>

<br><br>
## **2 Let's Start**
### **01 Coding 둘러보기**
Coding 이란 : 컴퓨터에게 숫자, 영어, 기호 로 특정명령을 내리는 것 <strike>한글은 불가능</strike>

In [1]:
# 파이썬 코딩의 기본 3요소
# 1.Data,  2.함수,  3.연결부호
# 그동안 영어공부한 내용에 비하면 절대 어렵지 않다!!! 
# (대략 200개의 단어의 뜻과 예문만 암기하고, 1~3가지 문법만 알면 끝이다!!)
# 단지 익숙하지 않을 뿐... 곤란한 당신의 이유는 단지 이것 뿐이다..
# 자주 사용하는 몇가지들 부터 익혀 나가자

In [2]:
# 1. Data
# 숫자   :  연산  
# "문자", '문자' :  counting, slicing, 문자열 더하기
# (변수명)  :  문자만 가능 (내부는 수정 변환이 가능)
# [list형 데이터] - 숫자/ 문자
# {dict형 데이터} - { key값 : value값 } - 숫자 /문자
# (tuple1, tuple2) : 병렬처리, 생성 후 수정불가능 (2개 , 3개 ... n개), 꼭 짝은 맞아야 한다!!)
# ex) (tuple1, tuple2) : 컴퓨터 연산처리 결과 (편집이 어려워서 사용자가 건드리는 경우는 거의 없다)

In [3]:
# 2. 연걸부호
# . 종속   
# , 병렬나열
# : 내부설계 시작
# ; 병렬연결
# = 입력
# == 대등조건
# != 부 대등조건
# '' , ""  문자열 지정 (연산 불가능한 객체)

In [4]:
# 3. 함수
# 파이썬 내장모듈(class), 함수/ 메소드
# 파이썬 외부모듈(class), 함수/ 메소드

<br><br>
## **2 Datum 객체 학습하기**
<br>
### **01 숫자의 사칙연산**
https://soooprmx.com/archives/4886 : 파이썬 내장함수
1. integer(정수) : index 주소값
1. float(실수) : 연산 데이터 및 결과값

In [5]:
# print() : 파이썬 내장함수
# 숫자의 사칙연산
print(1 +   2)
print(30 /  4)   # 나누기 
print(30 // 4)   # 몫
print(30 %  4)   # 나머지

<br>
### **02 '문자', "문자"의 연산**
1. 문자의 연결(사칙연산)
1. [indexing]
1. [slicing:]

In [6]:
# 사칙연산 중 '+'만 가능
print('0')
print("10" + '2')
print('대한민국'+'2018'+'평창올림픽'+'gogo!!')

0
102
대한민국2018평창올림픽gogo!!

In [7]:
# [indexing] : 특정 index 위치의 데이터를 추출
# ex) 단어의 오타 수정시
gogl = '20,000,000$'
print(gogl[0])
print(gogl[-1])

2
$

In [8]:
# [slicing :] 특정 범위를 출력 
# ex) 단어의 일부분만 확인이 필요할 떄
# [start_index : end_index]
gogl[:2]

'20'

In [9]:
# 매개변수를 활용한 문자 연산 (data)
codes = '005390'
print(codes + ' is SamsungElectronic inc')

codes = 1234
# print(codes + ' is SamsungElectronic inc')

005390 is SamsungElectronic inc

#### **QUIZ**
'2018년 대한민국' 에서 '2018' 를 숫자로 뽑아내라...

    start>>>
    text = '2017년 대한민국'  

    tips>>
    1. [:slicing] 으로 '2017' string 을 추출
    2. '2017' 를 숫자로 변환하라
<br><br>

### **03 문자와 숫자의 전환 및 연산**
1. 문자와 숫자간 변환
1. 연산은 위의 01, 02의 규칙내에서 작동한다

In [10]:
# 문자 <--> 숫자 변경
# type()
code_str = '005390'
type(code_str)

str

In [11]:
# int() : float/ string 을 integer 로 변환
int(code_str) + 1000

6390

In [12]:
# 숫자 <--> 문자
code_int = 1234
type(code_int)

int

In [13]:
float(code_int)

1234.0

In [14]:
# integer to string
str(code_int)

'1234'

In [15]:
# str(code_int) + 1000

<br><br>
## **3 Data 객체 학습하기**
1. 여러객체를 **_순차적으로 담을 수 있는_** [ list ]
1. 여러객체를 **_임의의 주소값으로 담을 수 있는_** {dict}
1. **_원본 DATABASE에서 추출하여 순차적으로 담긴_** (tuple,)

<br>
### **01 [ list ]**
여러객체를 순차적으로 담는 객체로 자료관리 Basic !!!, 

다른 자료형을 학습할때 기준 (그만큼 활용범위가 넓다)
1. .append()
1. .insert()
1. '+'

In [16]:
# len() : 내부함수
lists = [1,2,3,'회계','재무']
len(lists)

5

In [17]:
# .append() :  list의 메소드 함수 
# 메소드 : list를 생성시 자동적 연결되는 추가 함수로, list객체에 종속
lists.append(2017)  
lists

[1, 2, 3, '회계', '재무', 2017]

In [18]:
lists.append(['08-15','22:00:30'])
lists

[1, 2, 3, '회계', '재무', 2017, ['08-15', '22:00:30']]

In [19]:
lists_txt = ['Python','Jupyter']
lists.append(lists_txt)
lists

[1, 2, 3, '회계', '재무', 2017, ['08-15', '22:00:30'], ['Python', 'Jupyter']]

In [20]:
# .insert() : 끼워넣기
lists.insert(0, [100, 200, 300])
lists

[[100, 200, 300],
 1,
 2,
 3,
 '회계',
 '재무',
 2017,
 ['08-15', '22:00:30'],
 ['Python', 'Jupyter']]

In [21]:
# indexing : 꼭! 찝어내기
# cf) 위 String 의 indexing 과 비교하며 이해할 것!
print(lists[0])   
print(lists[-1])   # -1 은 맨 뒤에서 부터 카운팅

[100, 200, 300]
['Python', 'Jupyter']

In [22]:
# Slicing : 범위설정
# cf) 위 String 의 Slicing 과 비교하며 이해할 것!
print(lists[3:6])      # [start_index : end_index]
print(lists[:3])
print(lists[:-2])      # 파일이름의 확장자 구별시 활용

[3, '회계', '재무']
[[100, 200, 300], 1, 2]
[[100, 200, 300], 1, 2, 3, '회계', '재무', 2017]

In [23]:
# 리스트 객체를 연결하여 1개 객체로 만들기
# 주의!! >>  List 덧셈은 작동하지만, 뼬셈은 작동하지 않는다  << 주의!!!!
lists_1 = [1,31,51,23]
lists_2 = [19,14,4,2,5]
list_num = lists_1 + lists_2
list_num

[1, 31, 51, 23, 19, 14, 4, 2, 5]

In [24]:
list_num.sort()   # reverse() 함수대신 reverse=True 옵션을 활용
list_num

[1, 2, 4, 5, 14, 19, 23, 31, 51]

In [25]:
list_string = ['python', 'java', 'Python', 'vba', 'oracle', 'ABC']
list_string.sort()   # reverse() 함수대신 reverse=True 옵션을 활용
list_string

['ABC', 'Python', 'java', 'oracle', 'python', 'vba']

In [26]:
list_string = ['한글', '미국', '영어', '일본어', '중국어', '히브리어', '라틴어']
list_string.sort()   # reverse() 함수대신 reverse=True 옵션을 활용
list_string

['라틴어', '미국', '영어', '일본어', '중국어', '한글', '히브리어']

In [27]:
# enumerate() : 열거하다 
# for 반복문에서 index 주소값을 활용하면 다양한 구성이 가능해서 많이 쓰인다
# list data와 index 주소값 2개를 함께 출력한다
list_data = list_num + list_string
for no, datum  in enumerate(list_data):
    print(no, datum)

0 1
1 2
2 4
3 5
4 14
5 19
6 23
7 31
8 51
9 라틴어
10 미국
11 영어
12 일본어
13 중국어
14 한글
15 히브리어

In [28]:
# List 내부 Data : 숫자, 문자 모두가능
# List 내부 Index : 0,1,2,3,4....... (only Integer만 가능)

#  장점 : 만들기가 쉽다
#      : 인덱스 주소만 알면 검색과 활용이 쉽다.
#      : matrix 구조를 활용하면 대용량 데이터도 처리가 가능하다

#  단점 : 무조건 0부터 작업을 시작 (for 문을 활용시 주요한 특징)
#      : for 반복문 사용시 매번 [list]를 반복검색해서 느려진다 (list가 1만개일떄 100번 반복시, 100만번 연산을 수행한다)

#### **QUIZ 01**
lists = [2017, '년', '대한민국'] 의 자료를 활용해서
'2017년대한민국' 1개의 문자열로 변환해 보시오.

    start>> 
    lists = [2017, '년', '대한민국']
    
    tips>>
    1.lists[0] 의 인덱스를 활용해서 각각의 객체를 추출
    2. 문자와 문자 객체를 + 를 통해서 1개로 합친다
<br><br>

#### **QUIZ 02**
name =  ['한국항공우주', '대우조선해양'] , code = ['047810', '000300'] 를 이용해서

['한국항공우주', '047810', '대우조선해양' ,'000300'] 객체를 만들어보자

    start>>>
    text = '2017년 대한민국'  

    tips>>
    1. .append()를 활용해서 객체를 연결한다  # 1개의 index 속에 쑤셔넣는다.
    2. + 를 활용해서 순서를 바꿔서 연결한다   # 고유 index를 유지
    
<br><br>

In [29]:
name = ['한국항공우주', '대우조선해양']
code = ['047810', '000300']

In [30]:
krx_code = [name[0]] + [code[0]]     # 고유한 주소값을 그대로 유지한다
krx_code.append([name[1],code[1]])   # 1개 주소에 입력을 한다
krx_code

['한국항공우주', '047810', ['대우조선해양', '000300']]

<br><br>
### **02  { Dictionary_key :  _value } **
List 의 index를 보완한 객체로, index를 '숫자'와 'String' 가능)  

DataFrame 표를 만들 수 있는 기본포맷

In [31]:
# List 생성 및 indexing
dictionary = {'005390':'삼성전자', 
              '035420':['네이버','NAVER','Naver','naver']}
dictionary

{'005390': '삼성전자', '035420': ['네이버', 'NAVER', 'Naver', 'naver']}

In [32]:
dictionary.keys()

dict_keys(['005390', '035420'])

In [33]:
dictionary.values()

dict_values(['삼성전자', ['네이버', 'NAVER', 'Naver', 'naver']])

In [34]:
# index로 데이터 추출
dictionary['035420']

['네이버', 'NAVER', 'Naver', 'naver']

In [35]:
# List 데이터 추가하기
dictionary['000660'] = 'SK하이닉스'
dictionary

{'000660': 'SK하이닉스',
 '005390': '삼성전자',
 '035420': ['네이버', 'NAVER', 'Naver', 'naver']}

In [36]:
# Debit(차변) , Credit(대변)
sheet = {'Debit':
             {'Lease': 1_300_000, 
              'Cash' : 700_000 },
         'Credit':
             {'Cash' : 2_000_000}}

sheet.keys()

dict_keys(['Debit', 'Credit'])

In [37]:
sheet['Debit']

{'Cash': 700000, 'Lease': 1300000}

In [38]:
sheet['Debit'].keys()

dict_keys(['Lease', 'Cash'])

In [39]:
sheet['Debit'].values()

dict_values([1300000, 700000])

In [40]:
# .items()
# Key 값과, value를 함께 출력한다
for idx, datum  in  sheet.items():
    print(idx, datum)

Debit {'Lease': 1300000, 'Cash': 700000}
Credit {'Cash': 2000000}

In [41]:
import pandas as pd
pd.DataFrame(sheet)

          Credit    Debit
Cash   2000000.0   700000
Lease        NaN  1300000

In [42]:
# dictionary = { key값 : value }

# 장점 : 상대적으로 만들기가 쉽다
#     : 검색이 빠르다, Key값이 일치하면 바로 결과를 출력
#     : 1개 key 값에 value는 여러개도 가능 (value 값도  [list],{ dict} 모두 가능)

# 단점 : 순서가 없어서 정렬을 할 수 없다.
#     : key값의 오타로 비슷한 key 값들이 중복되어 존재할 가능성이 있다
#     : key값과 value를 모두 알아야만 자료를 찾을 수 있다.

#### **QUIZ 01**
dictionary = {'005390':'삼성전자', '035420':'네이버'} 자료를 통해서

'005390'을 활용해서 '삼성전자'를 출력하라

        start>> 
        dictionary = {'005390':'삼성전자', '035420':'네이버'}

#### **QUIZ 02**
dictionary = {'005390':'삼성전자', '035420':'네이버'} 자료를 통해서

'030200' 코드인 'KT'를 추가하라

        tips>>
        1.딕셔너리 추가
        dictionary ['key문자열'] = 'value 문자열'

In [43]:
dictionary = {'005390':'삼성전자', '035420':'네이버'}

<br><br>
### **03  ( tuple)**
원본 DataBase에서 추출한 데이터를 의미(SQL)로 생성 후에는 임의 수정이 불가능하다 !!

In [44]:
dictionary = {'005390':'삼성전자', '035420':'네이버'}
items      = dictionary.items()
items

dict_items([('005390', '삼성전자'), ('035420', '네이버')])

In [45]:
len(items)
#items[0]

2

In [46]:
# [ list ] 객체로 변환해서 index을 활용한다
items = list(items)
items

[('005390', '삼성전자'), ('035420', '네이버')]

In [47]:
samsung = items[0]
samsung

('005390', '삼성전자')

In [48]:
type(samsung)

tuple

In [49]:
print(samsung[0],samsung[1]) 

# tuple 은 입력 후 수정이 불가능하다
# 고유한 값을 지정이 필요한 경우에만 활용
# samsung[0] = 'samsung'

005390 삼성전자